/*.altru-header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 75px;
    width: 100%;
    z-index: 999;
    background-color:  rgb(0,150,136);    
}*/

.altru-nav {
    /*position: fixed;
    top: 75px;
    left: 0px;
    height: 35px;
    width: 100%;
    z-index: 999;*/
    background-color:  black; 
    box-shadow: 5px 5px 2px #888888;  
     
}

.kolbe {
    height: auto;
    width: auto;
    /*max-height: 70px;*/
    max-width: 150px;
}
.altru-link-text {
    color: white;
    padding-left: 20px;
}

.altru-welcome {
    font-size: 150%;
    padding-top: 20px; 
}

.altru-nav-list {
    margin-top: 7px;
}


.header-color {
    background-color:  rgb(0,150,136);   
}

.active {
    color: #fff;
    background-color: #080808;
}

.navbar-brand {
  padding: 0px;
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  height: 100%;
  /*padding: 15px;*/
  /*width: auto;*/
}

.navbar {
  margin-bottom: 0px;
}