<mat-card *ngFor="let article of hack(articles)" class="mat-chip-list-stacked">
  <mat-card-title>
      {{article.MedlineCitation.Article.ArticleTitle}}
    <mat-card-subtitle>
      <!-- <a [href]="makeArticleUrl(article)" target="_blank">{{article.MedlineCitation.Article.ArticleTitle | urlSizeLimiter:'50'}}</a> -->
      <a [href]="makeArticleUrl(article)" target="_blank">pubmed</a>
    </mat-card-subtitle>    
  </mat-card-title>
  <mat-card-content>
    <p>Authors</p>
    <mat-chip-list>
      <mat-chip *ngFor="let author of hack(article.MedlineCitation.Article.AuthorList.Author)" selected>
          {{author.ForeName}} {{author.LastName}}
      </mat-chip>
    </mat-chip-list>
     
    <div *ngIf="article.MedlineCitation.KeywordList">
      <br>
      <p>Keywords</p>
      <mat-chip-list>
        <mat-chip *ngFor="let keyword of hack(article.MedlineCitation.KeywordList?.Keyword)" selected>
          {{keyword['#text']}}
        </mat-chip>
      </mat-chip-list>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <mat-progress-bar mode="determinate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>