<div [formGroup]="form">
    <!--label [attr.for]="question.key">{{question.label}}</label-->

    <div [ngSwitch]="question.controlType">

        
        
        <md-form-field *ngSwitchCase="'textbox'">
            <input mdInput [formControlName]="question.key" [id]="question.key" [type]="question.type" placeholder="{{question.label}}">
        </md-form-field>


        <md-form-field *ngSwitchCase="'textarea'">
            <textarea #message mdInput md-autosize 
                [formControlName]="question.key" [id]="question.key" [type]="question.type" placeholder="{{question.label}}">
            </textarea>
            <md-hint align="start"><strong> {{ question.hint }} </strong> </md-hint>
            <md-hint *ngIf="question.maxLength" align="end">{{message.value?.length}} / {{question.maxLength}}</md-hint>
        </md-form-field>

        <div *ngSwitchCase="'multiold'">
            <md-form-field>
                <input mdInput placeholder="{{question.label}}" [mdAutocomplete]="auto" [formControlName]="question.key">
            </md-form-field>            
            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let opt of question.options " [value]="opt.name">
                    {{ opt.name }}
                </md-option>

            </md-autocomplete>
        </div>

        <div *ngSwitchCase="'autocomplete'">
            <md-form-field>
                <input mdInput placeholder="{{question.label}}" [mdAutocomplete]="auto" [formControlName]="question.key">
            </md-form-field>
            <md-autocomplete #auto="mdAutocomplete">
                <md-option *ngFor="let opt of question.options" [value]="opt.name">
                    {{ opt.name }}
                </md-option>

            </md-autocomplete>
        </div>

        <!-- check for updates, since you cant save the object([value]="foi")  only [value]="foi.name" works -->
        <div *ngSwitchCase="'dropdown'">
            <md-select style="width: 12.5rem; padding: 1rem 0;" placeholder="{{question.label}}" [formControlName]="question.key">
                <md-option *ngFor="let opt of question.options" [value]="opt.name">
                    <span>{{ opt.name }}</span>
                    <small>{{opt.desc}}</small>
                </md-option>
            </md-select>
        </div>


        <!-- check for updates, since you cant save the object([value]="foi")  only [value]="foi.name" works -->
        <div *ngSwitchCase="'multi-select'">
            <md-select style="width: 12.5rem; padding: 1rem 0;" multiple placeholder="{{question.label}}" [formControlName]="question.key">
                <md-option *ngFor="let opt of question.options" [value]="opt.name">
                    <span>{{ opt.name }}</span>
                    <small>{{opt.desc}}</small>
                </md-option>
            </md-select>
        </div>

        <div *ngSwitchCase="'pubmed'">
            <div class="form-group">
                <label>Search PubMed for publications</label>
                <div class="input-group">
                    <input class="form-control" name=term placeholder="search for articles on pubmed by author or title" #searchTerm>
                    <span class="input-group-btn">
             <button [disabled]="pubmedLoading"  class="btn btn-primary" (click)="performSearch(searchTerm.value)">PubMed Search</button>
             <button class=" btn btn-default" (click)="clearPubmedOptions()">Clear Results</button>
            </span>



                </div>
            </div>
            <div class="form-group">
                <label for="publications">Select your publications from the search above</label>
                <div>
                    <ss-multiselect-dropdown 
                    [options]="pubmedOptions" [texts]="pubmedTextSettings" 
                    [settings]="pubmedSelectSettings" formControlName="publications"></ss-multiselect-dropdown>
                    <span *ngIf="pubmedLoading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></span><span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

    </div>
    <div class="errorMessage" *ngIf="showErrorMsg">{{question.label}} is required</div>
</div>