<div>
  <h1>Preview</h1>


  <div>{{profile | json}}</div>
  <div>name: {{ profile.name}}</div>
  <div>country: {{profile.country?.name}}</div>
  <div>about: {{profile.about}}</div>
  <div>publications: {{profile.publications}}</div>
  <div>

    <md-chip-list>
      <!-- *ngFor="let technique of profile.techniques"> -->
      techniques:
      <md-chip selected>
        {{profile.techniques?.name}}
      </md-chip>
    </md-chip-list>

  </div>
  <div>
    <md-chip-list
      *ngFor="let fieldOfInterest of profile.fieldOfInterests">      
      <md-chip selected>
        {{fieldOfInterest}}
      </md-chip>
    </md-chip-list>
  </div>

</div>