<!--<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="formRef.form.valid && login()" #formRef="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': formRef.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="formRef.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': formRef.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="formRef.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" style="margin-bottom: 15px;" class="btn btn-primary">Login</button>                       
            <embed  *ngIf="loading" src="../assets/default-green.svg" width="30" height="30" 
            type="image/svg+xml"
            pluginspage="http://www.adobe.com/svg/viewer/install/" /> 
            <a style="margin-bottom: 15px;" routerLink="/register">Register now </a>            
        </div>
        
    </form>
    
</div>-->

<div class=" container-fluid">
    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-5 mx-auto">
            <section [ngSwitch]="isAuthenticated">
                <firebase-ui *ngSwitchCase="false"></firebase-ui>

                <mat-card *ngSwitchCase="true">
                    <mat-card-header>
                        <img mat-card-avatar style="height: 50px; width: 50px" [src]="user.avatar || '../../assets/default-user.png'">
                        <mat-card-title>{{ user.name }}</mat-card-title>
                        <mat-card-subtitle>{{ user.email || '(no email)' }}</mat-card-subtitle>
                    </mat-card-header>     
                    <mat-card-content>
                        <p><strong>Welcome to Academondo!</strong></p>
                        <button mat-raised-button (click)="signOut()">
                            Log out
                        </button>        
                    </mat-card-content>                
                </mat-card>
            </section>
        </div>
    </div>
</div>
