<div>
  <form [formGroup]="form">
    <mat-vertical-stepper>
      <mat-step>
        Everything gets saved on the fly, enjoy!
        <div>
          <button mat-raised-button color="primary" matStepperNext>Begin</button>
        </div>
      </mat-step>

      <div *ngFor="let group of gq">
        <mat-step label="fix me!">
          <div *ngFor="let question of group">
            <df-question [question]="question" [form]="form"></df-question>
          </div>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </mat-step>
      </div>

      <mat-step label="Confirm your information">
        Everything seems correct, feel free to edit anytime :-)
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
</div>