
body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;

  
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .demo-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
  }

  .demo-content {
    padding: 32px;
    box-sizing: border-box;
  }
}

.demo-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.am-background {
  max-width: 100%;
  height: auto;
}

.am-backg {
  background-size: cover;
  background-image: url('./../assets/background.png');
}
