<!-- <div>
	<app-header></app-header>
	<app-alert></app-alert>
	<div class="content">
    <router-outlet></router-outlet>
  </div>
</div> -->

<app-navbar></app-navbar>
<app-sidenav></app-sidenav>

<section class="main-container">
    <div [@routerAnimation]="getRouteAnimation(route)">
        <router-outlet #route="outlet"></router-outlet>
    </div>
</section>

<!-- <md-sidenav-container class="demo-root" fullscreen>
    <md-sidenav #start>
        <md-nav-list>
            <a *ngFor="let navItem of navItems" md-list-item (click)="start.close()" routerLinkActive #routerLinkActiveInstance="routerLinkActive"
                [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" [routerLink]="[navItem.route]">
        {{navItem.name}}
      </a>

            <hr>

            <a md-list-item tabindex="-1" (click)="start.close()" [routerLink]="['/baseline']">
        Baseline
      </a>
        </md-nav-list>
        <button md-button tabindex="-1" (click)="start.close()">CLOSE</button>
    </md-sidenav>
    <div>
        <md-toolbar color="primary">
            <button md-icon-button (click)="start.open()">
        <md-icon>menu</md-icon>
      </button>
            <div class="demo-toolbar">
                <h1>Angular mderial Demos</h1>
                <div>
                    <button md-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
            <md-icon>fullscreen</md-icon>
          </button>
                </div>
            </div>
        </md-toolbar>

        <div #root="dir" dir="ltr" class="demo-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container> -->