<!-- <div>
	<app-header></app-header>
	<app-alert></app-alert>
	<div class="content">
    <router-outlet></router-outlet>
  </div>
</div> -->

<!-- <app-navbar></app-navbar>
<app-sidenav></app-sidenav>

<section class="main-container">
    <div [@routerAnimation]="getRouteAnimation(route)">
        <router-outlet #route="outlet"></router-outlet>
    </div>
</section> -->

<mat-sidenav-container class="demo-root" fullscreen>
    <mat-sidenav #sidenav color="primary">
        <mat-nav-list>
            <a *ngFor="let navItem of navItems" 
                mat-list-item (click)="sidenav.close()"
                routerLinkActive #routerLinkActiveInstance="routerLinkActive"
                [attr.tabindex]="routerLinkActiveInstance.isActive ? 0 : -1" 
                [routerLink]="[navItem.route]">
                <mat-icon>{{navItem.icon}}</mat-icon>
                 &nbsp;{{navItem.name}}
            </a>
            <!-- <hr> -->
            <!-- <a mat-list-item tabindex="-1" (click)="sidenav.close()" [routerLink]="['/baseline']">Baseline</a> -->
        </mat-nav-list>        
    </mat-sidenav>
    <div>
        <mat-toolbar color="primary">
            <button mat-icon-button (click)="sidenav.open()">
                <mat-icon>menu</mat-icon>
            </button>
            <div class="demo-toolbar">                
                <img width="250px" src="../../assets/header.png" class="mx-auto">
                <div>                    
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu" style="padding-top: 2rem" >
                        <div *ngIf="user">
                            <button mat-menu-item [routerLink]="['/login']">
                                <!-- <mat-icon>person</mat-icon> -->
                                <img mat-card-avatar style="height: 30px; width: 30px; margin-right: 10px" [src]="user.avatar || '../../assets/default-user.png'">
                                <span>{{user?.name}}</span>
                            </button>
                            <button mat-menu-item [routerLink]="['/login']" (click)="signOut()">
                                <mat-icon>power_settings_new</mat-icon>
                                <span>Log out</span>
                            </button>
                        </div>
                    </mat-menu>
                    <!-- <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
                        <mat-icon>fullscreen</mat-icon>
                    </button> -->
                </div>
            </div>
        </mat-toolbar>        
        <!-- <div [@routerAnimation]="getRouteAnimation(route)" class="demo-content am-background am-backg" [style]="backgroundImageStyle"> -->
        <div [@routerAnimation]="getRouteAnimation(route)" class="demo-content">            
            <router-outlet #route="outlet"></router-outlet>
        </div>        
    </div>
</mat-sidenav-container>