<div class=" container-fluid" *ngIf="lab">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">

  <mat-card>
    <mat-card-title>
      {{lab.labName}}
      <mat-card-subtitle>
        {{lab.labLeader}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Location: {{lab.country}}
      </mat-card-subtitle>
    </mat-card-title>
    <mat-card-content>
      <p>About</p>
      <p>{{lab.about}}</p>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Technniques
    </mat-card-title>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let technique of lab.techniques" selected>
          {{technique}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Field of interests
    </mat-card-title>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let fieldOfInterest of lab.fieldOfInterests" selected>
          {{fieldOfInterest}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="lab.applicants">
    <mat-card-title>
      Applicants
    </mat-card-title>
    <mat-card-content *ngFor="let applicant of objectKeys(lab.applicants)">
      <div>        
        <app-view-username [userKey]="applicant"></app-view-username>
        <!-- <a target="_blank" href="https://academondo.com">link to account</a> -->
        <button mat-raised-button color="primary" (click)="acceptApplicant(lab, applicant)">
          Accept applicant
        </button>
        <button mat-raised-button color="warn"  (click)="showConfirm(removeApplicant(lab, applicant))">
          Reject applicant
        </button>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="lab.members">
    <mat-card-title>
      Members
    </mat-card-title>     
    <mat-card-content *ngFor="let member of objectKeys(lab.members)">      
      <div>        
        <app-view-username [userKey]="member"></app-view-username>
        <!-- <a target="_blank" href="https://academondo.com">link to account</a> -->        
        <button *ngIf="!isOwner" mat-raised-button color="warn" (click)="removeMember(lab, member)">
          Remove member
        </button>
      </div>
    </mat-card-content>  
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

<br>
<button  *ngIf="lab" mat-raised-button color="warn" (click)="delete(lab)">
  <i class="fa fa-fw fa-trash-o" (click)="delete(lab)"></i> Delete lab
</button>

<button *ngIf="!lab" mat-raised-button color="primary" [routerLink]="['/lab']"> 
  <i class="fa fa-fw fa-plus"></i> Create lab
</button>
</div>
</div>
</div>
