<div *ngIf="lab">
  <mat-card>
    <mat-card-title>
      {{lab.labName}}
      <mat-card-subtitle>
        {{lab.labLeader}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        Location: {{lab.country}}
      </mat-card-subtitle>
    </mat-card-title>
    <mat-card-content>
      <p>About</p>
      <!-- <ckeditor [config]="readonlyConfig" [readonly]="true" [(ngModel)]="lab.about"></ckeditor> -->
      <div>
        <ckeditor [config]="readonlyConfig" [readonly]="true" [(ngModel)]="lab.about"></ckeditor>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>

  <mat-card>
    <mat-card-title>
      Technniques
    </mat-card-title>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let technique of lab.techniques" selected>
          {{technique}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card>
    <mat-card-title>
      Field of interests
    </mat-card-title>
    <mat-card-content>
      <mat-chip-list class="mat-chip-list-stacked">
        <mat-chip *ngFor="let fieldOfInterest of lab.fieldOfInterests" selected>
          {{fieldOfInterest}}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
  <mat-card *ngIf="!view">
    <mat-card-title>
      Members
    </mat-card-title>
    <mat-card-content *ngFor="let member of objectKeys(lab.members)">
      <div>
        <app-view-username [userKey]="member" [owner]="isOwner"></app-view-username>
        <!-- <a target="_blank" href="https://academondo.com">link to account</a> -->
      </div>
    </mat-card-content>    
    <mat-card-content *ngIf="!haveApplied && !isMember && !isOwner">
      <button mat-raised-button color="primary" (click)="apply(lab.$key)">Apply for membership</button>
    </mat-card-content>
    <mat-card-content *ngIf="haveApplied">      
      <button mat-raised-button color="accent" (click)="unApply(lab.$key)">Remove application</button>
    </mat-card-content>
    <mat-card-content *ngIf="isMember && !isOwner">
      <button mat-raised-button color="accent" (click)="leave(lab.$key)">Leave lab</button>
    </mat-card-content>
    <mat-card-footer>
      <mat-progress-bar mode="determinate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>