<!--<div class="container">-->
	<div class="col-sm-8 padding-top">
		<ul class="list-group">
			<!--<a (click)="showDetails(lab)" class="list-group-item" *ngFor="let lab of labs">-->
			<li [class.selected]="lab === selectedLab" (click)="onSelect(lab)" class="list-group-item" *ngFor="let lab of labs">
				<span class="">{{lab.name}}</span>
			</li>
		</ul>
		<div *ngIf="selectedLab" class="list-group col-xs-3">
			<div>
				<label>name: </label>
				<div>{{selectedLab.name}}</div>
			</div>
			<div>
				<label>address: </label>
				<div> {{selectedLab.address}}</div>
			</div>
			<div>
				<label>groupLeader: </label>
				<div>{{selectedLab.groupLeader}}</div>
			</div>
			<div>
				<label>about: </label>
				<div>{{selectedLab.about}}</div>
			</div>
			<div>
				<label>publications: </label>
        <ul>			
			    <li class="list-group-item" *ngFor="let publication of selectedLab.publications">
				    <span class="">{{publication}}</span>
    			</li>
    		</ul>
			</div>
			<div>
				<label>techniques: </label>
        <ul>			
			    <li class="list-group-item" *ngFor="let technique of selectedLab.techniques">
				    <span class="">{{technique}}</span>
    			</li>
    		</ul>
			</div>
			<div>
				<label>fieldOfInterests: </label>
        <ul>			
			    <li class="list-group-item" *ngFor="let foi of selectedLab.fieldOfInterests">
				    <span class="">{{foi}}</span>
    			</li>
    		</ul>
			</div>
			<button (click)="gotoDetail()">View Details</button>
		</div>
	</div>
<!--</div>-->