<div class=" container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-10 col-lg-7 mx-auto">
      <app-pubmed (articlesUpdated)="handleArticlesUpdated($event)"></app-pubmed>
      <app-pubmed-viewer [articles]="articles"></app-pubmed-viewer>
      
      <div>
        <h2> Text editor</h2>
        <app-ckeditor (textUpdated)="handleTextUpdated($event)"></app-ckeditor>
      </div>
      <h2> readonly </h2>
      <div ><ckeditor [config]="readonlyConfig" [readonly]="true" [(ngModel)]="text"></ckeditor></div>      
    </div>
  </div>
</div>

