<div  class="col-xs-9">
	<input class="form-control" [ngModel]=term name=term #searchTerm required placeholder="enter searchterm for pubmed search">
	<br>

	<button [disabled]="loading" style="margin-bottom: 15px;" class="btn btn-primary" (click)="performSearch(searchTerm.value)">Search</button>
	<i *ngIf="loading" class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
	<span class="sr-only">Loading...</span>


	<div *ngFor="let article of articles">
		<!--| slice:-3">    -->
		<a [href]="makeArticleUrl(article)" target="_blank">{{article.MedlineCitation.Article.ArticleTitle | urlSizeLimiter:'50'}}</a><br>
		<b>Authors</b>
		<ul *ngFor="let author of article.MedlineCitation.Article.AuthorList.Author">
			<li>{{author.LastName}}, {{author.ForeName}}</li>
		</ul><br>
	</div>
</div>