<nav class="sidebar" [class.hideSidebar]="!isActive">
    <ul class="list-group">
        <md-checkbox class="list-group-item" [(ngModel)]="pinned" (click)="togglePinState()">{{(pinned) ? 'pinned' : 'unpin'}}</md-checkbox>
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
        <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard'  }}
    </a>
        <a [routerLink]="['/my-academondo']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
        <i class="fa fa-fw fa-globe"></i>&nbsp;{{ 'my academondo'  }}
    </a>
        <!-- <a [routerLink]="['/charts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-bar-chart-o"></i>&nbsp;{{'charts'}}
    </a>
    <a [routerLink]="['/tables']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'tables'  }}
    </a> -->
    
    <!-- <a [routerLink]="['/adverts']" [routerLinkActive]="['router-link-active']" class="list-group-item">
        <i class="fa fa-file-o"></i>&nbsp;{{ 'job adverts'  }}
    </a> -->
    <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('laboratory')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'laboratory'  }}</span>
            </a>
        <li class="nested" [class.expand]="showMenu === 'laboratory'">
            <ul class="submenu">
                <li>
                    <a [routerLink]="['/lab']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
                        <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'create laboratory'  }}
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/viewLab']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
                        <i class="fa fa-search"></i>&nbsp;{{ 'view laboratory'  }}
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/labs']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
                        <i class="fa fa-list"></i>&nbsp;{{ 'laboratories'  }}
                    </a>
                </li>
            </ul>
        </li>
    </div>
    <div class="nested-menu">
        <a class="list-group-item" (click)="addExpandClass('profile')">
                <span><i class="fa fa-plus"></i>&nbsp;{{ 'profile'  }}</span>
            </a>
        <li class="nested" [class.expand]="showMenu === 'profile'">
            <ul class="submenu">
                <li>
                    <a [routerLink]="['/profile']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
                        <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'create profile'  }}
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/profiles']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
                        <i class="fa fa-list"></i>&nbsp;{{ 'profiles'  }}
                    </a>
                </li>
            </ul>
        </li>
    </div>
    <a [routerLink]="['/search']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
        <i class="fa fa-search"></i>&nbsp;{{ 'search'  }}
    </a>

    <a [routerLink]="['/admin']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="(isAdmin | async)?.admin" (click)="hideSidenav()">
        <i class="fa fa-th-list"></i>&nbsp;{{ 'admin'  }}
    </a>
        <a [routerLink]="['/university']" [routerLinkActive]="['router-link-active']" class="list-group-item" *ngIf="(isUniversity | async)?.university" (click)="hideSidenav()">
          <i class="fa fa-th-list"></i>&nbsp;{{ 'university'  }}
    </a>
        <div class="nested-menu" *ngIf="user?.name === 'Simon Agerskov'">
            <a class="list-group-item" (click)="addExpandClass('pages')">
            <span><i class="fa fa-plus"></i>&nbsp;{{ 'under development'  }}</span>
        </a>
            <li class="nested" [class.expand]="showMenu === 'pages'">
                <ul class="submenu">
                    <!-- <li>
                        <a [routerLink]="['/labsignup']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-desktop"></i>&nbsp;{{ 'lab signup'  }}
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/labs']" [routerLinkActive]="['router-link-active']" class="list-group-item">
                            <i class="fa fa-fw fa-wrench"></i>{{ 'laboratories'  }}
                        </a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/adverts']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="hideSidenav()">
                            <i class="fa fa-file-o"></i>&nbsp;{{ 'job adverts'  }}
                        </a>                        
                    </li>
                    <li>
                        <a [routerLink]="['/bs']" [routerLinkActive]="['router-link-active']" (click)="hideSidenav()">
                            <span>{{ 'bootstrappa'  }}</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/cv']" [routerLinkActive]="['router-link-active']" (click)="hideSidenav()">
                            <span>{{ 'cv'  }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </div>

    </ul>
</nav>