/* You can add global styles to this file, and also import other style files */



/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */
/* @import '~@angular/material/prebuilt-themes/pink-bluegrey.css'; */
/* @import '~@angular/material/prebuilt-themes/purple-green.css'; */
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

/* @import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme'; */

body {
    /*padding: 2em 23em;*/
    /* background:lightgray; */
}

.baseComponent {    
    margin: 0px auto;
    padding: 15px;
    max-width: 1152px;
}

.wideComponent {    
    margin: 0px auto;
    padding: 15px;    
}


.main-container{
    margin-top: 55px;
    margin-left: 230px;
    padding: 15px;    
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}

@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
    }
}

.am-margin {
    margin-bottom: 2rem;
}
