<h1>CV builder</h1>
<div class="row">

<div class="col-sm-12 col-md-12 col-lg-6">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle="true">
      <mat-expansion-panel-header>
        
        <mat-panel-title>
          <mat-icon>account_circle</mat-icon>
            Personal details
        </mat-panel-title>
        <mat-panel-description>          
          
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field>
        <input matInput placeholder="First name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Surname">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Academic title">
      </mat-form-field>
      <br>
      <!-- <mat-form-field class="date-of-birth">
        <input matInput type="number" min="1" max="31" placeholder="Day">
      </mat-form-field>
      <mat-form-field class="date-of-birth">
        <input matInput type="number" min="1" max="12" placeholder="Month">
      </mat-form-field>
      <mat-form-field class="date-of-birth">
        <input matInput type="number" min="1900" placeholder="Year">
      </mat-form-field> -->
      <mat-form-field>
        <input matInput [matDatepicker]="birthDate" placeholder="Date of birth">
        <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
        <mat-datepicker #birthDate></mat-datepicker>
      </mat-form-field>  
      <br>
      <mat-form-field>
        <input matInput type="email" placeholder="Email adress">
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>map</mat-icon>
          Introductory text
        </mat-panel-title>
        <mat-panel-description>
          
          
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-ckeditor (textUpdated)="handleTextUpdated($event)"></app-ckeditor>
  
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
    <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>bookmark</mat-icon>
          Work experience
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button mat-raised-button color="primary">
        Add work experience
      </button>
      <br>
      <mat-form-field>
        <input matInput placeholder="Job title">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Name of company or institution">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country">
      </mat-form-field>
      <br>
      <label>Was the employment in an academic or industrial institution</label>
      <br>
      <mat-radio-group>
        <mat-radio-button value="academia">Academia</mat-radio-button>
        <mat-radio-button value="industry">Industry</mat-radio-button>
      </mat-radio-group>
      <!-- <mat-checkbox>Academia</mat-checkbox>
      <mat-checkbox>Industry</mat-checkbox> -->
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="workStart" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="workStart"></mat-datepicker-toggle>
        <mat-datepicker #workStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="workEnd" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="workEnd"></mat-datepicker-toggle>
        <mat-datepicker #workEnd></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-checkbox>Present</mat-checkbox>
      <br>
      <label>Write about the position and qualifications required in the position</label>
      <app-ckeditor (textUpdated)="handleTextUpdated($event)"></app-ckeditor>
      <br>
      <button mat-button mat-raised-button color="primary" style="float: right">
        Delete experience
      </button>
      <br>
      <br>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>bookmark</mat-icon>
          Education
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>      
      <button mat-button mat-raised-button color="primary">
        Add education
      </button>      
      <br>
      <mat-form-field>
        <input matInput placeholder="Education level">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Line of education">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Name of university">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name of department">
      </mat-form-field>      
      <br>
      <mat-form-field>
        <input matInput placeholder="Country">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="eduStart" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="eduStart"></mat-datepicker-toggle>
        <mat-datepicker #eduStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="eduEnd" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="eduEnd"></mat-datepicker-toggle>
        <mat-datepicker #eduEnd></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-checkbox>Present</mat-checkbox>
      <br>
      <label>Write about the projects and qualifications gained during the studies</label>
      <app-ckeditor (textUpdated)="handleTextUpdated($event)"></app-ckeditor>
      <br>
      <button mat-button mat-raised-button color="primary" style="float: right">
        Delete education
      </button>
      <br>
      <br>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 4" (opened)="setStep(4)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>bookmark</mat-icon>
          Research stay
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button mat-raised-button color="primary">
        Add research stay
      </button>
      <br>
      <mat-form-field>
        <input matInput placeholder="Project title">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Name of university">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name of department">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Name of lab or group leader">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Country">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="researchStart" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="researchStart"></mat-datepicker-toggle>
        <mat-datepicker #researchStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="researchEnd" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="researchEnd"></mat-datepicker-toggle>
        <mat-datepicker #researchEnd></mat-datepicker>
      </mat-form-field>      
      <br>
      <label>Write about the projects and qualifications gained during the studies</label>
      <app-ckeditor (textUpdated)="handleTextUpdated($event)"></app-ckeditor>
      <br>
      <button mat-button mat-raised-button color="primary" style="float: right">
        Delete research stay
      </button>
      <br>
      <br>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 5" (opened)="setStep(5)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>bookmark</mat-icon>
          Conference/workshop
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button mat-raised-button color="primary">
        Add conference/workshop
      </button>
      <br>
      <mat-form-field>
        <input matInput placeholder="Conference/workshop title">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Country">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="City">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="confStart" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="confStart"></mat-datepicker-toggle>
        <mat-datepicker #confStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="confEnd" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="confEnd"></mat-datepicker-toggle>
        <mat-datepicker #confEnd></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Contribution">
      </mat-form-field>
      <br>
      <label>Write about the conference and your contribution</label>
      <app-ckeditor (textUpdated)="handleTextUpdated($event)"></app-ckeditor>
      <br>
      <button mat-button mat-raised-button color="primary" style="float: right">
        Delete conference/workshop
      </button>
      <br>
      <br>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 6" (opened)="setStep(6)" hideToggle="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>bookmark</mat-icon>
          Teaching experience
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <button mat-button mat-raised-button color="primary">
        Add teaching experience
      </button>
      <br>
      <mat-form-field>
        <input matInput placeholder="Title of teaching experience">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Name of university">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name of department">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Country">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput [matDatepicker]="teachingStart" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="teachingStart"></mat-datepicker-toggle>
        <mat-datepicker #teachingStart></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="teachingEnd" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="teachingEnd"></mat-datepicker-toggle>
        <mat-datepicker #teachingEnd></mat-datepicker>
      </mat-form-field>
      <br>
      <label>Write about your teaching experience</label>
      <app-ckeditor (textUpdated)="handleTextUpdated($event)"></app-ckeditor>
      <br>
      <button mat-button mat-raised-button color="primary" style="float: right">
        Delete teaching experience
      </button>
      <br>
      <br>
      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  
  </mat-accordion>
</div>
<div class="col-sm-12 col-mat-12 col-lg-6">

            this is where we show the profile view
</div>

</div>

















<div *ngIf="profile$ | async as profile">
  <h1>{{profile.name}}</h1>
  <p>{{profile.about}}</p>

  <h3>add profile</h3>

  <input [(ngModel)]="formValue" (keyup.enter)="addProfile()">

</div>