<!-- <div class=" container-fluid">
  <div class="row"> -->
    <div class="example-container mat-elevation-z8 ">
      <div class="example-header">
        <md-form-field floatPlaceholder="never">
          <input mdInput #filter placeholder="Filter users">
        </md-form-field>
      </div>

      <md-table #table [dataSource]="dataSource" mdSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container mdColumnDef="firstName">
          <md-header-cell *mdHeaderCellDef> firstName </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.firstName}} </md-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container mdColumnDef="lastName">
          <md-header-cell *mdHeaderCellDef> lastName </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.lastName}} </md-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container mdColumnDef="about">
          <md-header-cell *mdHeaderCellDef> about </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.about}} </md-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container mdColumnDef="country">
          <md-header-cell *mdHeaderCellDef> country </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.country}} </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
    </div>
    <!-- <div class="col-sm-6">
      <h2>Filters</h2>
      <h4>Profiles</h4>

      <md-select style="width: 12.5rem; padding: 1rem 0;" placeholder="Field of interests" [(ngModel)]="fieldOfInterests" (change)="filterExact('fieldOfInterests', fieldOfInterests)">
        <md-option *ngFor="let opt of fieldOfInterestOptions" [value]="opt.name">
          <span>{{ opt.name }}</span>          
        </md-option>
      </md-select>

      <button md-raised-button color="primary" *ngIf="fieldOfInterests" (click)="removeFilter('fieldOfInterests')" >
        Remove Filter
      </button>

      <md-select style="width: 12.5rem; padding: 1rem 0;" placeholder="Techniques" [(ngModel)]="techniques" (change)="filterExact('techniques', techniques)">
        <md-option *ngFor="let opt of techniqueOptions" [value]="opt.name">
          <span>{{ opt.name }}</span>
        </md-option>
      </md-select>

            <button md-raised-button color="primary" *ngIf="techniques" (click)="removeFilter('techniques')">
        Remove Filter
      </button>

      <div *ngFor="let profile of filteredProfiles">
        <h6>{{profile.firstName}}, {{profile.lastName}}</h6>
        <ul>
          <li>field of interest: {{profile.fieldOfInterest}}</li>
          <li>techniques: {{profile.techniques}}</li>
          <li>country: {{profile.country}}</li>
        </ul>

      </div>
    </div> -->
  <!-- </div>
</div> -->