<!-- <div class=" container-fluid">
  <div class="row"> -->
    <div class="example-container mat-elevation-z8 ">
      <div class="example-header">
        <mat-form-field floatPlaceholder="never">
          <input matInput #filter placeholder="Filter users">
        </mat-form-field>
      </div>

      <mat-table #table [dataSource]="dataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID Column -->
        <ng-container matColumnDef="firstName">
          <mat-header-cell *matHeaderCellDef> firstName </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="lastName">
          <mat-header-cell *matHeaderCellDef> lastName </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="about">
          <mat-header-cell *matHeaderCellDef> about </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.about}} </mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="country">
          <mat-header-cell *matHeaderCellDef> country </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.country}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
    <!-- <div class="col-sm-6">
      <h2>Filters</h2>
      <h4>Profiles</h4>

      <mat-select style="width: 12.5rem; padding: 1rem 0;" placeholder="Field of interests" [(ngModel)]="fieldOfInterests" (change)="filterExact('fieldOfInterests', fieldOfInterests)">
        <mat-option *ngFor="let opt of fieldOfInterestOptions" [value]="opt.name">
          <span>{{ opt.name }}</span>          
        </mat-option>
      </mat-select>

      <button mat-raised-button color="primary" *ngIf="fieldOfInterests" (click)="removeFilter('fieldOfInterests')" >
        Remove Filter
      </button>

      <mat-select style="width: 12.5rem; padding: 1rem 0;" placeholder="Techniques" [(ngModel)]="techniques" (change)="filterExact('techniques', techniques)">
        <mat-option *ngFor="let opt of techniqueOptions" [value]="opt.name">
          <span>{{ opt.name }}</span>
        </mat-option>
      </mat-select>

            <button mat-raised-button color="primary" *ngIf="techniques" (click)="removeFilter('techniques')">
        Remove Filter
      </button>

      <div *ngFor="let profile of filteredProfiles">
        <h6>{{profile.firstName}}, {{profile.lastName}}</h6>
        <ul>
          <li>field of interest: {{profile.fieldOfInterest}}</li>
          <li>techniques: {{profile.techniques}}</li>
          <li>country: {{profile.country}}</li>
        </ul>

      </div>
    </div> -->
  <!-- </div>
</div> -->